{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js " lang="en">
<!--<![endif]-->

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Meta -->
    <title>Data Gate</title>
    <meta name="keywords" content="Data data təlimləri data analitikası data kursu data dərsləri təlim data öyrən dərs">
    <meta name="description" content="Data Gate Bizimlə Data Elmini Öyrənməyə Başla">
    <meta name="author" content="Data Gate / Appland / Nasib Ahmadov">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/webicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/webicon.ico' %}" type="image/x-icon">
        
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">

    <!-- Custom & Default Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now 'U' %}">

    <!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

</head>


<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="{% static 'images/loader.gif' %}" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <!-- BEGIN # MODAL LOGIN -->
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Begin # DIV Form -->
                    <div id="div-forms">
                        <form id="login-form">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="flaticon-add" aria-hidden="true"></span>
                            </button>
                            <div class="modal-body">
                                <input class="form-control" type="text" placeholder="What you are looking for?"
                                    required>
                            </div>
                        </form><!-- End # Login Form -->
                    </div><!-- End # DIV Form -->
                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->

        <header class="header header-normal">


            <div class="container">
                <nav class="navbar navbar-default yamm">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo-normal">
                            <a class="navbar-brand" href="{% url 'home' %}">
                                <img src="{% static 'images/web-logo.png' %}"
                                    alt="logo-img" width="45px" height="45px">
                                <h1>Data Gate</h1>
                                
                                </a>
                        </div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right text-center">

                            {% if home == 'home' %}
                            <li><a class='own-link selected_page' href="{% url 'home' %}">Əsas Səhifə</a></li>
                            {% else %}
                            <li><a class='own-link' href="{% url 'home' %}">Əsas Səhifə</a></li>
                            {% endif %}

                            {% if course == 'course' %}
                            <li><a class='own-link selected_page' href="{% url 'Courses' %}">Təlimlər</a></li>
                            {% else %}
                            <li><a class='own-link' href="{% url 'Courses' %}">Təlimlər</a></li>
                            {% endif %}

                            {% if blog_ == 'blog' %}
                            <li><a class='own-link selected_page' href="{% url 'Blogs' %}">Data Bloqu</a></li>
                            {% else %}
                            <li><a class='own-link ' href="{% url 'Blogs' %}">Data Bloqu</a></li>
                            {% endif %}

                            {% if contact == 'contact' %}
                            <li><a class='own-link selected_page' href="{% url 'contact' %}">Əlaqə</a></li>
                            {% else %}
                            <li><a class='own-link' href="{% url 'contact' %}">Əlaqə</a></li>
                            {% endif %}


                        </ul>
                    </div>
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>



        <section class="section filter-section">
            <!-- MAIN (Center website) -->
            <div class="main">
                <!-- Portfolio Gallery Grid -->
                <div class="row" style="flex-wrap: wrap !important;">
                {% for blog in blogs_pop %}
                    <div class="col-sm-4 col-xs-12 column cars wow slideInLeft">
                        <div class="content blog-img" style="word-wrap: break-word;">
                            <img src="{{blog.image_}}" alt="blog-img" class="img-responsive">
                            <h4 class="align">{{blog.head}}</h4>
    
                            <div class="blog-box-description">
                                {{blog.title|safe|truncatechars:100}}
                            </div>
                            <div class="justify-content-center">
                                <a href="{% url 'Blog' blog.id %}" class="btn btn-primary">Ətraflı</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <!-- END MAIN -->
            </div>

        </section>



        <footer class="section footer noover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <img style='margin-top: -10px;border:none;' class="widget-title"
                                src="{% static '/images/logo.png' %}" alt='logo' />
                            <div class="list-widget">
                                <p>
                                    Data Gate data analitikası və <br> digər data elmi sahələrində ixtisaslaşmış peşəkar komandasıyla birgə fəaliyyət göstərən, müasir tələblərə cavab verən tədris mərkəzidir.
                                </p>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Təlimlərimiz</h3>
                            <div class="list-widget">
                                <ul>
                                    {% for Course in Course|slice:"0:6" %}
                                    <li><a href="{% url 'Course' Course.id %}">{{Course.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Sosial şəbəkə</h3>
                            <div class="list-widget">
                                <ul class="list-inline">
                                    <li>
                                        <div class="social">

                                                
                                            <a href="https://www.facebook.com/datagate.mba"
                                            target="_blank" data-tooltip="tooltip" data-placement="bottom"
                                                title="Facebook"><i class="fa fa-facebook"></i>
                                                <p>&nbsp Data Gate</p>
                                            </a>
                                            

                                            
                                            <a href="https://www.instagram.com/data.gate/" target="_blank" data-tooltip="tooltip" data-placement="bottom"
                                                title="Instagram"><i class="fa fa-instagram"></i>
                                                <p>&nbspData Gate</p>
                                            </a>
                                           
                                            
                                            <a href="https://www.youtube.com/channel/UCJ54Cy4GEY6pTKsFKZw8gyw" target="_blank" data-tooltip="tooltip" data-placement="bottom"
                                            title="Youtube"><i class="fa fa-youtube"></i>
                                            <p>&nbspData Gate</p>
                                            </a>
                                           
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- nd list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-3">
                        <div class="widget clearfix">
                            <h3 class="widget-title">Əlaqə</h3>
                            <div class="list-widget">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i> +994775732259</li>
                                    <li>
                                        <a href="mailto:info@datagate.edu.az">
                                            <i class="fa fa-envelope"></i> info@datagate.edu.az</a></li>
                                    <li><i class="fa fa-map"></i> Suleyman Rahimov 1009, Bakı, Azərbaycan
                                    </li>

                                </ul>
                            </div><!-- end list-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="copyrights">
            <div class="container">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="cop-logo">
                            <p>Copyright ©2022 Bütün hüquqlar qorunur | Developed by 
                                <a 
                                style='color:#fff;'
                                href='#'
                                >Appland</a></p>
                        </div>
                    </div>

                   
                </div>
            </div><!-- end container -->
        </div><!-- end copy -->
    </div><!-- end wrapper -->




    <!-- jQuery Files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            once: true
        })
    </script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- VIDEO BG PLUGINS
    <script src="js/videobg.js"></script> -->

    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }


        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

                <!-- !!! -->
    <!-- By Nasib Ahmadov / nasibahmadov.me -->
                <!-- !!! -->
</body>

</html>